    <h1>Gestor E-commerce <img src="/img/favi.ico" alt="Imagen de Carrito de Compras" width="36" height="36"></h1>
    <h4>Products</h4>

<ul id="products" class="collection"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
